<% include partial/head %>
  <% include partial/navbar %>
    <body>
      <div class="wrapper">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <h2>Hi! Here's a quick guide of what you can do with ths application</h2>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <div class="text-center">
            <img class="img-rounded" src="/img/make.png" alt="Make">
            <img class="img-rounded" src="/img/lock-icon-image.png" alt="Budget">
            <img class="img-rounded" src="/img/happy.png" alt="Happy">
          </div>
          <br>
            <div class="text-center">
              <h2>Features</h2>
              <h3>Make Budget</h3>
              <h3>Record Expenses</h3>
              <h3>View Financial Report</h3>
            </div>
          </div>
        </div>
      </div>
      <% include partial/footer %>
    </body>