	<div class="footer">
      <p class="text-center">&copy; 2017 | Budget Analysis Application</p>
      <p class="text-center">Developed by: Orjiewuru Kingdom Isaac</p>
    </div>

    <!--Scripts-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>